/*IMPORTANDO FONT*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
/*CRIANDO DEGRADE*/
:root{
    --color--roxo: #6B2CF5;
    --color--rosa: #D450E6;

    --color--degrademain: linear-gradient(330deg, var(--color--roxo), var(--color--rosa));

    --color--roxocont: #9809DE;
    --color--rosacont: #EF4AFB;

    --color--degrademaincontainer: linear-gradient(180deg, var(--color--roxocont), var(--color--rosacont));
}
/*RETIRANDO A MARGEN*/
*{
    margin: 0px;
}
/*Fundo principal*/
.container{
    height: 100vh;
    width: 100%;
    background: var(--color--degrademain);
    display: flex;
    justify-content: center;
    align-items: center;
}
/*Fundo Welcome*/
.mainContainer{
    width: 500px;
    height: 772px;
    background: var(--color--degrademaincontainer);
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
}

/*Fundo Formulario*/
.formCont{
    width: 500px;
    height: 772px;
    background: var(--color--degrademaincontainer);
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}
/*Centralização do login*/
form{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/*Ajuste nos inputs para username e login*/
.form{
    width: 374px;
    font-size: 16px;
    padding: 30px 0px;
    margin: 20px 0px;
    border: none;
    text-align: center;
    background-color: #FD9DFF;
    border-radius: 28px;
    color: #fff;
}

a{
    text-decoration: none;
}

input{
    border: none;
}
/*Configurando o placeholder*/
input::placeholder{
    color: #fff;
    font-size: 25px;
}
/*Estilizando o button*/
.button{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 30px;
    width: 220px;
    border-radius: 28px;
    background-color: #F14CFB;
    border: none;
    font-size: 25px;
    color: #fff;
    cursor: pointer;
}

button:hover{
    scale: 1.1;
}

@media (max-width: 1366px){
    .mainContainer,
    .formCont{
        height: 500px;
        overflow-y: hidden;
    }

    .mainContainer{
        font-size: 20px;
    }

    .form{
        width: 300px;
        font-size: 13px;
    }

    .button{
        padding: 20px;
        width: 180px;
        font-size: 20px;
    }

    button::hover{
        scale: 1.1;
    }
}



